
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.first_heading{
    padding-bottom: 50px;
}
.outer{
    width: 100%;
    background: url(../images/spotlight-bg.webp);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    padding: 70px 150px;
    text-align: center;
    box-sizing: border-box;
}
.first_heading h1{
    background: url(../images/spotlight-heading-bg.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 45px;
    display: inline-block;
    padding: 0px 30px;

}
.first_heading p{
    font-size: 20px;
    padding-top: 15px;
}
.tech_learner{
    display: flex;
}
.learner{
    flex-basis: 23%;
    margin: 1%;
    padding: 20px 0px;
    box-sizing: border-box;
}
.border{
    border-left: 1px solid gray;
}
.interview{
    padding: 120px 0px;
    background-color: white;
}
.main_container{
    width: 1320px;
    margin: auto;
}
.left_container{
    width: 50%;
    float:left;
}
.row{
    margin-bottom: 16px;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
}
.left_container h1{
    font-size: 36px;
    font-weight: 700;
    color: rgb(33, 37, 41);
}
.left_container p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(67, 80, 91);
    margin: 40px 0;
}
.left_container .row h4{
    font-size: 18px;
    font-weight: 600;
    color: rgb(10, 33, 52);
}
.left_container .row p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(67, 80, 91);
    margin: 15px 0;
}
.left_container .row a span{
    font-size: 20px;
}
.left_container .row a{
    font-size: 16px;
    font-weight: 400;
    color: #2699FB;
}
.left_container button{
    background: #2699FB;
    border-radius: 6px;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    transition: .4s;
    border: 1px solid transparent;
}
.left_container button:hover{
    background: white;
    color: black;
    border: 1px solid black;
}
.right_container{
    width: 50%;
    float: left;
    background-image: url(../images/iq-circle.webp), url(../images/iq-dot-bg.webp);
    background-repeat: no-repeat, no-repeat;
    background-position: 92% 92%, 6% 8%;
}
.right_container div{
    width: 500px;
    margin: 100px auto;
}
.right_container img{
    width: 100%;
}